*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}

.container{
    /* background-color: #e4f9f5; */
    background-image: linear-gradient(cyan,yellow,green,rgb(194, 63, 194));
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.profile-image{
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50%;
    float: left;
}

header{
 
}
.header-bio{
float: left;
padding: 30px;
}

h1,h2,h3,h4,h5,h6{
    color: #11999e;
}

.header-contact{
    float: right;
    padding: 30px;
}

.header-contact a{
    text-decoration: none;
    color: teal;
    font-weight: bold;
}
.header-contact a:hover{
    text-decoration: underline;
    color: tomato;
}
.clear-div{
    clear: both;
}

hr{
    border: solid black 3px;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}

#personal-section{

}
.content{
margin: 30px;
}
.left-div{
width: 30%;
float: left;
}
.right-div{
width: 70%;
float: left;

}

.common-hr{
    border: 1px solid black;
    border-bottom: none;
    width: 100%;
    margin: 20px auto;
}

.edu-div-left{
    float: left;
    width: 45%;
}
.edu-div-left{
float: left;
width: 45%;
}

.footer-container{
    /* background-color: black; */
    background-image: linear-gradient(rgb(29, 25, 25) 40%,red,green );
    text-align: center;
    padding: 10px;
    margin-bottom: 0px;
}
.footer-container a{
    color: white;
    text-decoration: none;
    margin: 20px;
}
.footer-container p{
    color: white;
    margin-top: 20px;
}