<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="CV.css">
    
</head>
<body>
    <!-- container start -->
    <div class="container">
    <!-- header start -->

        <header >
<img class="profile-image" src="../../../assets/images/AlamgirSmallSizePP.jpg" alt="">
<div class="header-bio">
    <h1>Alamgir Kabir</h1>
    <h3>Web Designer</h3>
</div>
<div class="header-contact">
    <p><a href="mailto:alamgirkabir45789@gmail.com">Email: alamgirkabir45789@gmail.com</a></p>
    <p><a href="#">Website: Alamgir's Documentary</a></p>
    <p><a href="tel:+881745425498">Phone: +881745425498</a></p>
</div>
        </header>
    <!-- header end -->

    <!-- div clear -->
        <div class="clear-div"></div>

        <hr>

    <!-- main start -->

        <main>
    <!-- personal section start -->

<section id="personal-section">
    <div class="content">
        <div class="left-div">
<h3>Personal Information</h3>
        </div>
        <div class="right-div">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis eligendi, pariatur alias optio ex doloremque totam libero minus repudiandae. Perspiciatis reprehenderit saepe ipsam quo magni hic recusandae maxime harum soluta!</p>
        </div>
    </div>
</section>
    <!-- personal section end -->

    <!-- div clear -->
        <div class="clear-div"></div>
<hr class="common-hr">

 <!-- work experience section start -->

 <section id="work-section">
    <div class="content">
        <div class="left-div">
<h3>Work Experience</h3>
        </div>
        <div class="right-div">
            <h3>Jr. Software Developer</h3>
            <h5>June 2021-January 2022</h5>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis eligendi, pariatur alias optio ex doloremque totam libero minus repudiandae. Perspiciatis reprehenderit saepe ipsam quo magni hic recusandae maxime harum soluta!</p>
<br><br>
            <h3>Jr. Software Developer</h3>
            <h5>June 2021-January 2022</h5>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis eligendi, pariatur alias optio ex doloremque totam libero minus repudiandae. Perspiciatis reprehenderit saepe ipsam quo magni hic recusandae maxime harum soluta!</p>
<br><br>

            <h3>Jr. Software Developer</h3>
            <h5>June 2021-January 2022</h5>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis eligendi, pariatur alias optio ex doloremque totam libero minus repudiandae. Perspiciatis reprehenderit saepe ipsam quo magni hic recusandae maxime harum soluta!</p>
        </div>
    </div>
</section>
    <!-- work experience section end -->

    
    <!-- div clear -->
    <div class="clear-div"></div>
    <hr class="common-hr">

     <!-- key skills section start -->

 <section id="skill-section">
    <div class="content">
        <div class="left-div">
<h3>Key Skill</h3>
        </div>
        <div class="right-div">
            <h3>Jr. Software Developer</h3>
            <h5>June 2021-January 2022</h5>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis eligendi, pariatur alias optio ex doloremque totam libero minus repudiandae. Perspiciatis reprehenderit saepe ipsam quo magni hic recusandae maxime harum soluta!</p>
<br><br>
            <h3>Jr. Software Developer</h3>
            <h5>June 2021-January 2022</h5>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis eligendi, pariatur alias optio ex doloremque totam libero minus repudiandae. Perspiciatis reprehenderit saepe ipsam quo magni hic recusandae maxime harum soluta!</p>
<br><br>

            <h3>Jr. Software Developer</h3>
            <h5>June 2021-January 2022</h5>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis eligendi, pariatur alias optio ex doloremque totam libero minus repudiandae. Perspiciatis reprehenderit saepe ipsam quo magni hic recusandae maxime harum soluta!</p>
        </div>
    </div>
</section>
    <!-- key skills section end -->
    
    <!-- div clear -->
    <div class="clear-div"></div>
    <hr class="common-hr">

         <!-- education section start -->

 <section id="education-section">
    <div class="content">
        <div class="left-div">
<h3>Education</h3>
        </div>
        <div class="right-div">
            <div class="edu-div-left">
                <h4>Jr. Software Developer</h4>
                <h5>Jr. Software Developer</h5>
                <p>June 2021-January 2022</p>
    
            </div>
            <div class="edu-div-right">
                <h4>Jr. Software Developer</h4>
                <h5>Jr. Software Developer</h5>
                <p>June 2021-January 2022</p>
   
            </div>
           

        </div>
    </div>
</section>
    <!-- education section end -->
    <!-- div clear -->
    <div class="clear-div"></div>
    <hr class="common-hr">
 <!-- awards section start -->

 <section id="awards-section">
    <div class="content">
        <div class="left-div">
<h3>Honors and Awards</h3>
        </div>
        <div class="right-div">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita nobis sed adipisci quibusdam maiores, suscipit quam quis eligendi porro ratione, reprehenderit veritatis iure similique illo cumque optio quod incidunt beatae.
                    </p>

        </div>
    </div>
</section>
    <!-- reference section end -->

    <!-- div clear -->
    <div class="clear-div"></div>
    <hr class="common-hr">

             <!-- reference section start -->

 <section id="reference-section">
    <div class="content">
        <div class="left-div">
<h3>Reference</h3>
        </div>
        <div class="right-div">
            <div class="edu-div-left">
                <h4>Jr. Software Developer</h4>
                <h5>Jr. Software Developer</h5>
                <p>June 2021-January 2022</p>
    
            </div>
            <div class="edu-div-right">
                <h4>Jr. Software Developer</h4>
                <h5>Jr. Software Developer</h5>
                <p>June 2021-January 2022</p>
   
            </div>          

        </div>
    </div>
</section>
    <!-- reference section end -->
    <!-- div clear -->
    <div class="clear-div"></div>
    <hr class="common-hr">


        </main>
    <!-- main end -->
    <!-- footer start -->

        <footer class="footer-container">
<a href="#">Facebook</a>
<a href="#">Youtube</a>
<a href="#">Website</a>
<p>Copyright &copy; Alamgir Kabir 2022</p>
        </footer>

    <!-- footer end -->

    </div>
    <!-- container end -->

</body>
</html>