<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .div1{
            background-color: tomato;
            float: left;
        }
        .div2{
            background-color: bisque;
            float: right;
        }
        .div3{
            background-color: hotpink;
            clear: both;
        }
    </style>
</head>
<body>
    <div class="div1">
        <p>Bangladesh</p>
    </div>
    <div class="div2">
        <p>England</p>
    </div>
    <div class="div3">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti illo nemo voluptatum? Ipsa earum, quasi ratione totam libero dolore fuga molestias ad natus expedita neque dignissimos vero quisquam non! Quam.</p>
    </div>
</body>
</html>