<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      .elm1{
          border-radius: 25px 15px 5px;
          background: red;
          padding: 20px;
          width: 200px;
          height: 150px;
          color: white;

      }
      .elm2{
        border-radius: 25px;
        border: 2px solid green;
        background: url(../../assets/images/9129_1392502450_treehillschool43.png);
          padding: 20px;
          width: 200px;
          height: 150px;
      }
    </style>
</head>
<body>
  <h2>Border Radious</h2>
  <p class="elm1">Rounded Elements</p>
  <p class="elm2">Rounded Elements</p>
</body>
</html>