<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <style>
div{
  background-image: url("../../assets/images/AlamgirSmallSizePP.jpg");
  height: 300px;
  width: 300px;
  background-repeat:no-repeat;
    background-size:100% 100%;
    background-position: right top;
    margin-left: 50px;
    margin-top: 50px;
    clip-rule: evenodd;
}
  </style>
  <link rel="stylesheet" href="MyCss.css" />

  <body>
    <p style="text-align: center;font-size: 2rem;color: red;"><marquee>Mr. Alamgir Kabir</marquee></p>
  <div>
   
   
  </div>
  </body>
</html>
