<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <style>


.container{
    position: relative;
    border: 1px solid green;
    height: 100%;
    background: gray;
}
.topLeft{
    position: fixed;
    top: 8px;
    left: 16px;
    border: 1px solid green;
    height: 100%;
    background-color: yellow;
}
.center{
    position: absolute;
    top: 8px;
    width: 100%;
text-align: center;
margin-left: 200px;
background: gray;
scroll-behavior: smooth;



}
img{
    width: 100%;
    height: auto;
    opacity: 0.9;
}
  </style>
 
  <body>
     
  <div class="container">
   
      <!-- <img src="../../assets/images/9129_1392502450_treehillschool43.png" alt="Image" width="400px" height="200px"/> -->
      <div class="topLeft">
          
          <div>
              <ul>
                  <li>
                      <a href="#home">Home</a>
                  </li>
                  <li>
                      <a href="#room">Room</a>
                  </li>
              </ul>
          </div>
      </div>
      <div class="center" style="padding-bottom: 500px;">
          <p id="home">
Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore repellat molestiae quae recusandae nesciunt consectetur! Laboriosam ab, dolorum neque incidunt, id nulla magni repellat illum ratione odit earum corporis.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore repellat molestiae quae recusandae nesciunt consectetur! Laboriosam ab, dolorum neque incidunt, id nulla magni repellat illum ratione odit earum corporis.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore repellat molestiae quae recusandae nesciunt consectetur! Laboriosam ab, dolorum neque incidunt, id nulla magni repellat illum ratione odit earum corporis.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore repellat molestiae quae recusandae nesciunt consectetur! Laboriosam ab, dolorum neque incidunt, id nulla magni repellat illum ratione odit earum corporis.
Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, labore repellat molestiae quae recusandae nesciunt consectetur! Laboriosam ab, dolorum neque incidunt, id nulla magni repellat illum ratione odit earum corporis.
          </p>
          <p id="room" style="height: 600px;">
            Top Center
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus enim commodi sunt totam sapiente, non odit incidunt blanditiis fugit ullam. Tenetur officiis nisi cum harum quo praesentium explicabo numquam nam?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus enim commodi sunt totam sapiente, non odit incidunt blanditiis fugit ullam. Tenetur officiis nisi cum harum quo praesentium explicabo numquam nam?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus enim commodi sunt totam sapiente, non odit incidunt blanditiis fugit ullam. Tenetur officiis nisi cum harum quo praesentium explicabo numquam nam?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus enim commodi sunt totam sapiente, non odit incidunt blanditiis fugit ullam. Tenetur officiis nisi cum harum quo praesentium explicabo numquam nam?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus enim commodi sunt totam sapiente, non odit incidunt blanditiis fugit ullam. Tenetur officiis nisi cum harum quo praesentium explicabo numquam nam?
          </p>
         
      </div>

  </div>
    

  </body>
</html>
